* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  width: 100%;
}

nav {
  height: 50px;
  background: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu_item {
  border-right: 2px solid white;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  opacity: 0.5;
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 6px;
}

.subheader_call {
  font-weight: 300;
  font-size: 12px;
  margin-top: 19px;
  text-align: right;
  color: #FFFFFF;
}

.subheader_phone {
  display: block;
  text-decoration: none;
  font-weight: 400;
  margin-top: 8px;
  font-size: 22px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subheader_btn {
  margin-top: 19px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0);
  border: none;
  border-radius: 4px;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  font-weight: 700;
  font-size: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
  margin: 0;
}

.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
}

.promo_descr {
  margin-top: 23px;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  font-size: 18px;
  line-height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.title {
  margin-top: 100px;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #222222;
}

.subtitle {
  margin-top: 19;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
}

.puason {
  margin-top: 20px;
}

.reason_icons1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: #1EACC7;
  width: 116px;
  height: 116px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reason_icons1:hover {
  background: pink;
}

.reason_box1 {
  margin-top: -130px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 50px;
}

.reason_box1_text {
  margin-top: 25px;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1EACC7;
}

.reason_box1_text2 {
  min-width: 150px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #202020;
}

.mobile {
  margin-top: 65px;
  min-height: 864px;
  padding: 48px 0 89px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

.mobile_row {
  margin-top: 32px;
}

.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
  position: relative;
  margin-top: 25px;
}

.mobile_item_1 {
  background: url("../img/1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/6.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: " ";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile_item_plus:after {
  content: " ";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.fourth-sec {
  min-height: 500px;
  background-color: #070716;
}

.fourth-sec2 {
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
  min-height: 400px;
}

.fourth-sec-new {
  min-height: 500px;
  background-color: #070716;
}

.title2 {
  padding-top: 135px;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.subtitle2 {
  margin-top: 19;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.container {
  position: relative;
}

.fourth {
  position: absolute;
  left: 270px;
  bottom: 1px;
}

.fourth_new {
  display: none;
}

.fourth_bottom_text {
  height: 49px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 240px;
}

.reguire {
  padding: 68px 0 84px 0;
}

.reguire_block {
  margin: 33px 0;
}

.reguire_block_nmb {
  margin-bottom: 0px;
}

.reguire_title {
  font-size: 22px;
  font-weight: 400px;
  color: #1CA8C3;
}

.reguire_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.reguire_list li {
  font-weight: 300;
  position: relative;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #222222;
}

.reguire_list li:before {
  content: " ";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/Rectangle.svg") center center/cover no-repeat;
}

.reguire_descr {
  width: 100%;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
}

.reguire .warning .reguire_title {
  color: #ff5656;
}

.reguire .warning .reguire_list li:before {
  background: url("../icons/Layer.svg") center center/cover no-repeat;
}

.btm_bottom {
  background-color: black;
}

.btm_bottom_first {
  position: relative;
  min-height: 720px;
  background: url("../img/bg/world_bg.png") center center/cover no-repeat;
}

.btm_bottom_click {
  position: absolute;
  left: 550px;
  bottom: 25px;
}

.btm_bottom_link {
  background-color: rgba(0, 0, 0, 0.21);
  border: none;
  width: 223px;
  height: 68px;
  font-size: 15px;
  line-height: 68px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

footer {
  padding: 14px 23px 39px 23px;
}

footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_social_item i {
  color: #fff;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.footer_mobile {
  display: block;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .title {
    font-size: 32px;
  }
  .reason_box1 {
    max-width: 325px;
  }
  .reason_box1_text {
    font-size: 15px;
  }
  .reason_box1_text2 {
    font-weight: 200;
    font-size: 13px;
  }
  .mobile_item {
    width: 100%;
  }
  .title2 {
    font-size: 32px;
  }
  .subtitle2 {
    font-size: 17px;
  }
  .fourth {
    position: absolute;
    left: 100px;
    bottom: 1px;
  }
  .btm_bottom_click {
    display: none;
  }
  .btm_bottom_click2 {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_mobile_link {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .puason {
    padding: 0 0 0 35px;
  }
  .title {
    font-size: 23px;
  }
  .subtitle {
    font-size: 15px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_descr {
    font-size: 16px;
  }
  .promo_title {
    font-size: 25px;
    width: auto;
  }
  .reason_box1 {
    padding: 0 0 0 75px;
    width: 300px;
  }
  .reason_reason_box1 {
    padding: 0 0 0 0px;
  }
  .xs-visible {
    display: none;
  }
  .mobile_title {
    font-size: 23px;
    width: 100%;
  }
  .mobile_mobile_item {
    width: 100%;
  }
  .title2 {
    font-size: 23px;
  }
  .subtitle2 {
    font-size: 15px;
  }
  .fourth {
    position: absolute;
    left: -15px;
    bottom: 40px;
  }
  .fourth-sec3 {
    display: none;
  }
  .btm_bottom_click {
    display: none;
  }
  .btm_bottom_click2 {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer_wrapper > div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_wrapper > div:nth-child(3) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer_social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: revert;
            flex-direction: revert;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 25px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
    padding: 10px 4px;
    z-index: 1;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 40%;
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: none;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
  }
  .subheader_btn {
    display: block;
    width: 210px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .reason_box1 {
    width: 100%;
  }
  .fourth-sec2 {
    display: none;
  }
  .title2 {
    display: none;
  }
  .title3 {
    display: block;
    padding: 65px;
  }
  .subtitle2 {
    display: none;
  }
  .subtitle3 {
    display: block;
    margin: -65px;
  }
  .btm_bottom_first {
    position: relative;
    min-height: 400px;
    background: url(../img/bg/world_bg.png) center center/cover no-repeat;
  }
  .btm_bottom_click {
    display: none;
  }
  .btm_bottom_click2 {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .fourth-sec {
    display: none;
  }
  .fourth-sec_new {
    display: block;
    min-height: 380px;
    background-color: #070716;
  }
  .fourth_bottom_text_new {
    display: block;
    max-width: 530px;
    height: 89px;
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .fourth_new {
    display: block;
    left: 270px;
    bottom: 1px;
  }
  .img2 {
    padding: 40px 0 0 0;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .nav {
    height: 30px;
  }
  .hamburger {
    top: 20%;
  }
  .header {
    height: 30px;
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33pxbb;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }
  .title {
    font-size: 18px;
    line-height: 16px;
    width: 100%;
  }
  .title2 {
    display: block;
  }
  .subtitle2 {
    display: block;
  }
  .btm_bottom_click {
    display: none;
  }
  .btm_bottom_click2 {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .reason_box1 {
    width: 100%;
  }
  .subtitle {
    margin-top: 10px;
  }
  .fourth-sec {
    display: none;
  }
  .fourth-sec {
    display: none;
  }
  .fourth-sec_new {
    display: block;
    min-height: 380px;
    background-color: #070716;
  }
  .fourth_bottom_text_new {
    display: block;
    max-width: 530px;
    height: 89px;
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .fourth_new {
    display: block;
    left: 270px;
    bottom: 1px;
  }
  .img2 {
    padding: 40px 0 0 0;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1201px) {
  .fourth-sec3 {
    display: none;
  }
  .btm_bottom_click {
    display: none;
  }
  .btm_bottom_click2 {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */